body {
    background-color: beige;
    /* text-align: center; */
    color: whitesmoke;
}

.contact {
    text-align: center;
    padding-top: 300px;
    
}

.contact-form {
text-align: center;
display: inline-block;
border: whitesmoke 2px solid;
padding: 30px;
}

