body, html{
    margin: 0;
    padding:0; 
    height: 100%;
    overflow-x:hidden;
    background-image: url("/IMG/street.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
}

header{
    
    color:whitesmoke;
    /* border: 2px solid white; */
    /* height: 1100px; */
    line-height: 100px;
    text-align: right;
    font-size: 30px;
    /* padding-top: 150px; */
    /* padding-right: 12px; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


#hero {
    background-image: url("/IMG/street.jpg");
    height: 1100px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid whitesmoke;
    text-align: right;
  }

footer{
    height: 150px;
}

.distance {
    height: 400px;
}