body{
    margin: 0;
    padding:0; 
    height: 150vh;
    background-color: #FF9B71;
    overflow-x:hidden;
}

header{
    background-image: url("/IMG/street.jpg");
    height: 600px;
    background-size: cover;
    color:whitesmoke;
    border: 2px solid white;
    line-height: 100px;
    text-align: right;
    font-size: 30px;
    padding-top: 150px;
    padding-right: 12px;
}